@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("grey", "darken-4");
@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "./stylesheets/_stickyfooter.scss";
@import "./stylesheets/_loading.scss";
@import "./stylesheets/_navbar.scss";
@import "./stylesheets/_camera.scss";
@import "./stylesheets/_polls.scss";

.full-w {
  width: 100%;
}
.choiceButton {
    background-color: #ffffff;
    margin: 3px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  left: 0;
  opacity: 1;
}
.voteButton{
  background-color:lightblue;
  text-align: center;
  margin: 3px;
  border-radius:10px;
  color: black;

}
