@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("light-blue", "darken-4");
@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "./stylesheets/_stickyfooter.scss";
@import "./stylesheets/_loading.scss";
@import "./stylesheets/_navbar.scss";
@import "./stylesheets/_camera.scss";
@import "./stylesheets/_polls.scss";
@import "./stylesheets/_userprofile.scss";


.full-w {
  width: 100%;
}
.choiceButton {
    background-color: #add8e6;
    margin: 3px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  left: 0;
  opacity: 1;
}
.voteButton{
  background-color:lightblue;
  text-align: center;
  margin: 3px;
  border-radius:10px;
  color: black;
  width: 100%;
  line-height: normal;
  display: inline-table;
}
.lean-overlay {
  z-index: 0 !important;
}
.modal-content {
  color: #000000;
}
#choiceInput {
  width: 60%;
  height: 150px;
  font-family: sans-serif;
  font-size: small;
  line-height: normal;
}

.pollCard {
  border: 1px solid black;
  /* margin-top:100px; */
  background-color: #81c784;
}
.card {
  margin: 0;
  padding: 10px;

}
.comment-section {
  overflow-y: auto;
  height: 300px;
  border-left: 1px solid rgb(196, 196, 196);
  padding-left: 9px;
}
#comments {
  width: 100%;
  height: 40px;
  margin-left: 50px;
  background-color: #b2f2c3;
}
.submitComment {
  text-align: right;
}
.comment {
  background-color:#b2f2c3;
  font-size: 20px;
}
.comment:nth-child(odd) {
  color: blue;
  font-family: 'Indie Flower', cursive;
}
.comment:nth-child(even) {
  color: blue;
  font-family: 'Indie Flower', cursive;
}
.socialMediaIcon {
  height: 36px;
}
.commentInputSection   {
  padding: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;

}
#modal1 {
  width: 95%;
  min-height: 500px;
}
.hide {
  display: none;
}
.show {
  display: visible;
}
html {
    font-family: 'Passion One', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Chewy', cursive;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

.loseNavInheritance {
  line-height: 20px;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    background-color: white;
    
}

#promo {
font-family: 'Chewy', cursive;
font-size: 20px;
color: #424242;
    
}

nav {
  background-color: #b2f2c3;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #000000;
    opacity: .9 !important;
    font-size: 20px;
}
.questionMessage .choiceMessage {
  color: 'red';
}

header {
  height: 80%;
}

#commentButton {
  margin-right: 50px;
}
.createLabels {
    font-size: 24px;
}
input#questionText {
    border-bottom: 1px solid #9e9e9e;
}
.modal .modal-footer {
  height: 10px;
}
dChoiceText {
  display: table-cell;
  vertical-align: middle;
}

