@import "{poetic:materialize-scss}/sass/components/_color.scss";
$primary-color: color("blue", "darken-4");
@import "{poetic:materialize-scss}/sass/materialize.scss";
@import "./stylesheets/_stickyfooter.scss";
@import "./stylesheets/_loading.scss";
@import "./stylesheets/_navbar.scss";
@import "./stylesheets/_camera.scss";
@import "./stylesheets/_polls.scss";
@import "./stylesheets/_userdashboard.scss";


.full-w {
  width: 100%;
}
.choiceButton {
    background-color: #add8e6;
    margin: 3px;
    border-radius: 10px;
    padding: 2px;
    text-align: center;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  left: 0;
  opacity: 1;
}
.voteButton{
  background-color:lightblue;
  text-align: center;
  margin: 3px;
  border-radius:10px;
  color: black;
}
.lean-overlay {
  z-index: 0 !important;
}
.modal-content {
  color: #000000;
}
#choiceInput {
  width: 60%;
  height: 150px;
  font-family: sans-serif;
  font-size: small;
  line-height: normal;
}

.parallax-container {
      height: 600px;
}
.parallax {
}
.nav, .row {
  margin-bottom: 0px;
}
nav .brand-logo {
  position: relative;
}
.pollCard {
  border: 1px solid black;
}
.card {
  margin: 0;
  padding: 10px;
}
.comment-section {
    overflow-y: scroll;
}