<template name="footer">
  <footer class="page-footer transparent">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="text">Polly</h5>
          <p class="black-text">Polly is the third project developed during the Rutgers Coding Bootcamp.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Collaborators</h5>
          <ul>
            <li><a class="black-text" href="https://github.com/3786matt">Matthew Mandell</a></li>
            <li><a class="black-text" href="https://github.com/Tomcariello">Tom Cariello</a></li>
            <li><a class="black-text" href="https://github.com/mnaumoski">Marija Naumoski</a></li>
            <li><a class="black-text" href="https://github.com/annieg11">Aanchal Gupta</a></li>
            <li><a class="black-text" href="https://github.com/Melissa414">Melissa Baldwin</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text">
      © 2017 Polly
      <a class="black-text right" href="https://github.com/mnaumoski/Project3">Polly's GitHub</a>
      </div>
    </div>
  </footer>
</template>
