<template name="landing">

  <div class="parallax-container">
    <div class="parallax"><img src ="/images/img1.jpg"></div>
  </div>
  

  <div class="section white">
    <div class="row container">
      <h2 class="header">

      <a href="polllist">Parallax</a></h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src ="/images/img.12.jpeg"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src ="/images/img3.jpg"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src ="/images/img4.jpg"></div>
  </div>
</template>