<template name="landing">

  <div class="parallax-container">
    <div class="parallax"><img src ="https://cdn.pixabay.com/photo/2014/05/02/21/49/home-office-336373__480.jpg"></div>
  </div>
  

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src ="https://cdn.pixabay.com/photo/2016/09/17/21/47/audience-1677028_1280.jpg"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src ="https://cdn.pixabay.com/photo/2013/07/18/10/55/business-163464__480.jpg"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src ="https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822__480.jpg"></div>
  </div>
</template>