<template name="navbar1">
   <div class="navbar-fixed">

    <nav>
        <!--dropdown structure-->
   <div class="nav-wrapper">
       <a href="/"><img class="brand-logo" style="max-width:15%;" src="/pollyfin.svg" /></a>
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
               <!--dropdown button-->
       
       <li><a href="/pollList">All Polls</a></li>
       {{#if currentUser}}
       <li><a href="/userprofile">User Dashboard</a></li>
       {{/if}}
       <li>
        {{#animate type="jello" delay="200"}}
          <button data-target="modal1" class="waves-effect waves-light btn blue darken-2" id="modalTrigger">Create Poll</button>
        {{/animate}}
       </li>


       {{#if isAdminUser}}
       <li><a href="/usermgmt">User Management</a></li>
       {{/if}}
       {{#if currentUser}}
       <li><a href="/sign-out">Sign Out</a></li>
       {{else}}
       <li><a href="/sign-in">Sign In</a></li>
       {{/if}}
     </ul>

   <ul id="mobile-demo" class="side-nav">
       <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
             <li class="bold"><a href="/pollList" class="waves-effect waves-teal">All Polls</a></li>
             {{#if currentUser}}
             <li class="bold"><a href="#" class="waves-effect waves-teal">User Dashboard</a></li>
             {{/if}}
             <li>
              {{#animate type="jello" delay="200"}}
                <button data-target="modal1" class="waves-effect waves-light btn blue darken-2" id="modalTrigger">Create Poll</button>
              {{/animate}}
             </li>
             {{#if isAdminUser}}
             <li class="bold"><a href="/usermgmt" class="waves-effect waves-teal">User Management</a></li>
             {{/if}} 
             {{#if currentUser}}
             <li class="bold"><a href="/sign-out" class="waves-effect waves-teal">Sign Out</a></li>
             {{else}}
             <li class="bold"><a href="/sign-in" class="waves-effect waves-teal">Sign In</a></li>
             {{/if}}
         </ul>
       </li>
     </ul>
   </div>
 </nav>
</div>

{{> newPoll}}
</template>