<template name="navbar">
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div class="nav-wrapper">
                            <div class="row">
                                <div class="col s4">
                                    <a href="/" class="polly"><img class="responsive-img polly" src="image1.svg" /></a>
                                </div>
                                <div class="col s2">
                                    <li class="no-bullet"><a class="blue-text dropdown-button sort-collection-label" href="#!" data-activates="sort-collection">Sort By<i class="material-icons right">arrow_drop_down</i></a></li>
                                    <ul id="sort-collection" class="dropdown-content">
                                        <li><a class="sort-collection" data-value="likes">likes</a></li>
                                        <li><a class="sort-collection" data-value="dislikes">Dislikes</a></li>
                                        <li><a class="sort-collection" data-value="createdAt">Created At</a></li>
                                        <li><a class="sort-collection" data-value="commentCount">Most Comments</a></li>
                                    </ul>
                                </div>
                                <div class="col s2">
                                    <li class="no-bullet"><a class="dropdown-button sort-order-label" href="#!" data-activates="sort-order">Sort Order<i class="material-icons right">arrow_drop_down</i></a></li>
                                    <ul id="sort-order" class="dropdown-content">
                                        <li><a class="sort-order" data-value="1">ASC</a></li>
                                        <li><a class="sort-order" data-value="-1">DESC</a></li>
                                    </ul>
                                </div>
                                <div class="col s4">
                                {{> newPoll}}

                                <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
                                <ul class="right hide-on-med-and-down">
                                    {{#if isAdminUser}}
                                    <li><a href="/usermgmt">User Management</a></li>
                                    {{/if}} {{#if currentUser}}
                                    <li><a href="/sign-out">Sign Out</a></li>
                                    {{else}}
                                    <li><a href="/sign-in">Sign In</a></li>
                                    {{/if}}
                                </ul>
                                <ul class="side-nav" id="mobile-nav">
                                    {{#if isAdminUser}}
                                    <li><a href="/usermgmt">User Management</a></li>
                                    {{/if}} {{#if currentUser}}
                                    <li><a href="/sign-out">Sign Out</a></li>
                                    {{else}}
                                    <li><a href="/sign-in">Sign In</a></li>
                                    {{/if}}
                                </ul>
                                </div>
                            </div>
                            <!-- end of row -->
                        </div>
                        <!-- end of nav wrapper -->
                    </div>
                    <!-- end of col s12 -->
                </div>
                <!-- end of the first row -->
            </div>
            <!-- end of container -->
        </nav>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
</template>
