<template name="navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <div class="nav-wrapper">
              <a href="/" class="brand-logo">This is Polly</a>

              <div class="container">
                <div class="row" id="dropDown">
                  <div class="col s3">
                    <!-- <input id="sort-collection" /> -->
                    <select id="sort-collection">
                      <option value="" disabled selected>Sort By:</option>
                      <option value="likes">Likes</option>
                      <option value="dislikes">Dislikes</option>  
                      <option value="createdAt">Created At</option> 
                      <option value="expiration">Expires</option>  
                      <option value="comments">Most Comments</option>   
                    </select>
                  </div>
                  <div class="col s3">      
                    <select id="sort-order">
                      <option value="" disabled selected>Sort Order: </option>
                      <option value="1">ASC</option>
                      <option value="-1">DESC</option>   
                    </select>
                   <!--  <label>Sort Order</label> -->      
                  </div>
                </div>      
              </div>
              {{> newPoll}}
              <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
                {{#if isAdminUser}}
                  <li><a href="/usermgmt">User Management</a></li>
                {{/if}}
                {{#if currentUser}}
                  <li><a href="/sign-out">Sign Out</a></li>
                {{else}}
                  <li><a href="/sign-in">Sign In</a></li>
                {{/if}}
              </ul>
              <ul class="side-nav" id="mobile-nav">
                {{#if isAdminUser}}
                  <li><a href="/usermgmt">User Management</a></li>
                {{/if}}
                {{#if currentUser}}
                  <li><a href="/sign-out">Sign Out</a></li>
                {{else}}
                  <li><a href="/sign-in">Sign In</a></li>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>