nav {
  margin-bottom: 30px;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);


}
.brand-logo {
  color: gray !important;
};

#dropDown {
  color: gray;
  margin-left: 155px;
};

.no-bullet{
  list-style: none;
}