nav {
  margin-bottom: 30px;

}

#dropDown {
  color: gray;
  margin-left: 155px;
};

.no-bullet{
  list-style: none;
}

.nav, .row {
  margin-bottom: 0px;
}
nav .brand-logo {
  position: relative;
}

