body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
background-color: #b2f2c3;
    font-family: 'Indie Flower', cursive;
    font-family: 'Shrikhand', cursive;
    font-family: 'Chewy', cursive;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-family: 'Passion One', cursive;
}