<template name="newPoll">
        {{#animate type="jello" delay="200"}}
            <button data-target="modal1" class="waves-effect waves-light btn blue darken-2" id="modalTrigger">Create Poll</button>
        {{/animate}}
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Create a Poll</h4>
                <hr>
                <div class="row loseNavInheritance">
                    <div class="col s6">
                        <form name="submitForm">

                            <div class="input-field">
                                <div class="questionMessage"></div>
                                <input placeholder="Question Text" class="validate" type="text" id="questionText" style="width:300px;" required>
                                <label for="questionText"></label>
                            </div>
                            <div class="input-field">
                                <div class="choiceMessage"></div>
                                <textarea placeholder="Choice Text - seperate choices with line breaks" class="materialize-textarea" id="choiceInput" name="choiceText" rows=10 style="width:300px;" required></textarea>
                                <label for="choiceInput"></label>
                            </div>

                            <button class="btn btn-success js-add-comment" type="button" id="preview">Preview</button>
                            <button class="btn btn-success js-add-comment modal-close hide" type="submit" id="publish">Publish</button>
                        </form>
                        
                        
                    </div>
                    <div class="col s6 hide" id="previewPoll">
                    </div>
                </div>
            </div>
        </div>
</template>
