<template name="pollPartial">
    <div class="row pollCard">
        <div class="col s12">
            <div class="row">
                <div class="card blue-grey darken-1 col s12">
                    <div class="card-content white-text">
                        <span class="card-title">{{this.question}}</span>
                        <p class="pollCreated">
                            Created by {{user.email}} {{this.createdAt}}
                        </p>
                    </div>
                </div>

                <!-- If user has NOT voted, show the poll -->
                <div class="col s4">
                    <form name="{{this._id}}">
                        {{#each choices}}
                        <div class="choices col s9">
                            <div class="choiceButton" choice-index="{{@index}}">
                                <input type="radio" name="allPolls" id="poll" value="{{@index}}" />{{text}}
                                <br>
                            </div>
                        </div>
                        {{/each}}
                    </form>
                    <div class="voteButton btn waves-effect waves-light" data-id="{{this._id}}">
                        <i class="material-icons right">send</i>Vote
                    </div>
                </div>
                <!-- End If user has NOT voted -->

                <!-- If user has voted -->
                <!-- Pie Chart is called here to render it on the browser -->
                <div class="col s4">
                    <div id="{{this._id}}">
                       {{>pieChart}}
                    </div>
                </div>
                <!-- End If user has voted -->
                
                <!-- Comments Section -->
                <div class="col s4">
                    <div class="comment-section">
                        <form class="comment-form" data-poll-id="{{this._id}}">
                            <h3>Comments</h3>
                            <textarea id="comments" name="comment"></textarea>
                            <button>Submit</button>
                        </form>
                        <p>
                          {{#each this.comments}}
                            <p>{{this}}</p>
                          {{/each}}
                        </p>
                    </div>
                </div>
            </div>


            <div class="row">
            <!-- Ranking Icons & Social Media -->
                <!-- <div class="card-action col s12"> -->
                <div class="card blue-grey darken-1 col s12">
                    <div class="card-content white-text">
                        <a href="https://www.pinterest.com/pin/create/button/">
                            <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                        </a>
                        <a class="twitter-share-button social-buttons" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20poll">
                            Tweet
                        </a>
                        <div class="fb-share-button" 
                            data-href="http://www.your-domain.com/your-page.html" 
                            data-layout="button_count">
                        </div>

                        <!-- If current user is logged in, show like icons -->
                        {{#if currentUser}}
                            <div class="btn like-poll" data-id="{{this._id}}">
                              <i class="material-icons">arrow_upward </i>({{this.likes}})
                            </div>
                            <div class="btn dislike-poll" data-id="{{this._id}}"><i class="material-icons">arrow_downward</i>({{this.dislikes}})
                            </div>
                        {{/if}}
                        <!-- Show delete button if current user is the creator or Admin-->
                        {{#if isAdminOrCreator this}}
                            <div class="btn red delete-poll" data-id="{{this._id}}">
                              <i class="material-icons">delete</i>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>