<template name="pollPartial">

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{this.question}}</span>
          <p class="pollCreated">
            Created by {{this.user.email}} {{this.createdAt}}
            </p>
        </div>
        <div class="row">
          <div class="choices col s6">
            Choices:
          </div>
          <div class="votes col s6">
            Votes:
          </div>

          {{#each choices}}
            <div class="choices col s6">
              {{text}}
            </div>
            <div class="votes col s6">
              {{votes}}
            </div>
          {{/each}}

        </div>
        <div class="card-action">
          {{#if isAdminOrCreator this}}
            <div class="btn red delete-poll" data-id="{{this._id}}">
              <i class="material-icons">delete</i>
            </div>
          {{/if}}
            
          {{#if currentUser}}
            <div class="btn like-poll" data-id="{{this._id}}">
              <i class="material-icons">thumb_up</i>
            </div>
            <div class="btn dislike-poll" data-id="{{this._id}}">
              <i class="material-icons">thumb_down</i>
            </div>
          {{/if}}
      
          <p>
            {{this.likes}} Likes
          </p>
          <p>
            {{this.dislikes}} Dislikes
          </p>
        </div>
      </div>
    </div>
  </div>
</template>