<template name="landing">
  <div class="parallax-container">
    <div class="parallax"><img src ="/images/img1.jpg"></div>
  </div>
  

  <div class="section white">
    <div class="row container">
      <h2 class="header">

      <a href="#top">Polly -Instant Opinion</a></h2>
      <p class="grey-text text-darken-3 lighten-3"> Polly is a fast and fun way to collect and share opinions on just about anything. This app is far easier on eyes and has social and sharing features like Twitter, Facebook and Pinerest. All you need to do is set your question, responses and you can start sharing. Hence entering the world of shared opinions. What's more ....collated responses are shown immediately in the form a chart, so no waiting times here!! </p>

      <a href="polllist" class="waves-effect waves-light btn">See Polls</a>
                <ul class="right hide-on-med-and-down">
                  {{#if isAdminUser}}
                    <li><a href="/usermgmt">User Management</a></li>
                  {{/if}}
                  {{#if currentUser}}
                    <li><a class="red darken-2 btn" href="/sign-out">Sign Out</a></li>
                  {{else}}
                    <li><a class="red darken-2 btn" href="/sign-in">Sign In or Register</a></li>
                  {{/if}}
                </ul>
                <ul class="side-nav" id="mobile-nav">
                  {{#if isAdminUser}}
                    <li><a href="/usermgmt">User Management</a></li>
                  {{/if}}
                  {{#if currentUser}}
                    <li><a href="/sign-out">Sign Out</a></li>
                  {{else}}
                    <li><a href="/sign-in">Sign In</a></li>
                  {{/if}}
                </ul>

    </div>
  </div>

  <div class="parallax-container">
    <div class="parallax">
      <img src ="/images/img.12.jpeg">
    </div>
  </div>

  <div class="section white">
    <div class="row container">

      <h2 class="header">How does Polly work</h2>

      <div class="row">

        <div class="col s4">
          <i class="material-icons large">perm_identity</i>
          <!-- Promo Content 1 goes here -->
          <p>Type your question into our poll creator, select the kind of poll you want to make, and press “CREATE POLL.” </p>
          </div>
        <div class="col s4">
          <i class="material-icons large">poll</i>
          <p>You created polls, your audience voted, and now the moment of excitement when you see the real-time live results flash in the form of a Pie Chart.</p>
            <!-- Promo Content 2 goes here -->
        </div>
        
        <div class="col s4">
          <i class="material-icons large">add</i>
          <a href="https://www.pinterest.com/pin/create/button/">
            <img class="socialMediaIcon" src="https://cdn0.iconfinder.com/data/icons/Pinterest/512/Pinterest_Favicon.png" />
          </a>
          <a class="twitter-share-button social-buttons" href="https://twitter.com/intent/tweet?text=Check%20out%20this%20poll">
            <img class="socialMediaIcon" src="https://cdn1.iconfinder.com/data/icons/metro-ui-dock-icon-set--icons-by-dakirby/512/Twitter_alt.png" />
          </a>
            <!-- Promo Content 3 goes here -->
            <p>You can also publish your poll to a website, Facebook, Twitter and Pinerest or any other place where people can follow a link.</p>
            <!-- Promo Content 3 goes here -->
          <p class="grey-text text-darken-3 lighten-3"></p>
        </div>
      </div>
    </div>
      <p class="grey-text text-darken-3 lighten-3"></p>

    
      <h2 id ="top" class="header">Something Here</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>

    </div>

  <!-- <div class="parallax-container">
    <div class="parallax"><img src ="/images/img3.jpg"></div>
  </div>

  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">ANNIE</p>
    </div>
  </div> -->
  <div class="parallax-container">
    <div class="parallax">
      <img src ="/images/img4.jpg">
    </div>
  </div>
</template>